<div ng-if="insta.base.media.user" class="vd_title-section clearfix" ng-hide="insta.base.media.meta.error_type">
    <div class="insta-wrapper row">
        <div class="col-md-5">
            <img class="user-img" ng-src="{{ insta.base.media.user.data.profile_picture }}">
            <div class="user-detail">
                <p>{{ insta.base.media.user.data.username }} : {{ insta.base.media.user.data.id }}</p>
                <p>{{ insta.base.media.user.data.full_name }}</p>
                <p>{{ insta.base.media.user.data.bio }}</p>
            </div>
        </div>
        <div class="col-md-7 user-buttons">
            <a href="{{ insta.base.links.followings }}" type="button" class="btn vd_btn vd_bg-green btn-lg"><p>{{ insta.base.media.user.data.counts.follows }}</p>followings</a>
            <a href="{{ insta.base.links.followers }}" type="button" class="btn vd_btn vd_bg-green btn-lg"><p>{{ insta.base.media.user.data.counts.followed_by }}</p>followers</a>
            <a href="{{ insta.base.links.media }}" type="button" class="btn vd_btn vd_bg-green btn-lg"><p>{{ insta.base.media.user.data.counts.media }}</p>media</a>
            <button type="button" ng-hide="insta.base.media.user.self" class="btn vd_btn vd_bg-green btn-lg"
                    ng-class="{'Follow':'vd_bg-grey', 'Follow Back':'vd_bg-blue', 'Unfollow':'vd_bg-googleplus'}[insta.view.relationship]">
                {{ insta.view.relationship }}
            </button>
        </div>
    </div>
</div>

<div class="vd_title-section clearfix" ng-if="insta.base.media.meta.error_type">
    <h2>This user is private.</h2>
</div>

<!-- Media Loop -->

<div class="vd_content-section clearfix">
    <div class="insta-wrapper row" infinite-scroll="insta.loadMore()" infinite-scroll-disabled='insta.base.loading || insta.base.media.meta.error_type' infinite-scroll-distance="0">
        <div class="col-sm-4 col-md-2" ng-repeat="media in insta.base.media.data">

            <!-- Media -->

            <div ng-if="media.images" class="elem">
                <a ng-if="insta.base.show.user_profile" class="elem-header" href="#/user/{{ media.user.id }}">
                    <img ng-src="{{ media.user.profile_picture }}">
                    <p>{{ media.user.username }}</p>
                </a>
                <a data-media-id="{{ media.id }}" class="elem-img" href="#/user/{{ media.user.id }}">
                    <img ng-src="{{ media.images.thumbnail.url }}">
                </a>
                <div class="elem-footer">
                    <i ng-class="{true:'liked'}[media.user_has_liked]" class="fa fa-fw fa-heart"></i>
                    {{ media.likes.count }}
                    <i class="fa fa-fw fa-comment"></i>
                    {{ media.comments.count }}
                </div>
            </div>

            <!-- User -->

            <div ng-if="media.username" class="elem">
                <div class="elem-header">
                    <p>{{ media.username }}</p>
                </div>
                <a class="elem-img" href="#/user/{{ media.id }}">
                    <img ng-src="{{ media.profile_picture }}">
                </a>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>
</div>

<!-- End Media Loop -->

<div ng-show="insta.base.loading" id="loader-cont">
    <div class="spinwrap">
        <div class="spinner">
            <div class="cube1"></div>
            <div class="cube2"></div>
        </div>
    </div>
</div>